--extra-index-url https://download.pytorch.org/whl/cpu
torch
numpy
langchain
openvino>=2023.2.0
onnx>=1.11.0
pydantic
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/optimum-intel.git

# For RAG sample
langchainhub
sentence_transformers
bs4
chromadb==0.4.15
faiss-cpu